{% extends 'base.html' %}
    {% block main %}
         {% for airticle in context %}
                <article class="post post-{{ airticle.pk }}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blogs:detail' airticle.pk %}">{{ airticle.title }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">{{ airticle.update_time}}</time></a></span>
                            <span class="post-author"><a href="#">{{ airticle.author}}</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ airticle.details }}</p>
                        <div class="read-more cl-effect-14">
{#                            <a href="{{ airticle.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>#}
                            <a href="{% url 'blogs:detail' airticle.pk %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                    {% empty %}
                    <p>there is no airtilces</p>
                {% endfor %}
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div>
    {%endblock main  %}

